<p id="notice"><%= notice %></p>
</br></br>
<h1 style="color:green; font-family:Allema;>Horticultures Crops</h1>


 
     
<div class="center">
  <div class="row">
    <% @horticultures.each do |horticulture| %>
    <div class="col-md-3 col-xs-6">
      <div class="thumbnail" > 
         <%= link_to image_tag(horticulture.soil, height: '200', width: '200'), horticulture_path(horticulture) %>
            <div class="caption">
              <h3><%= horticulture.name %></h3>   
           </div>
      </div>
    </div>
  </div>
</div>
 <% end %>       
<br>

<%= link_to 'New Horticulture', new_horticulture_path %>
