/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";


.navbar-custom{
  background-color:transparent;
 }
.navbar-brand{
font-family:Allema;
background-color:skyblue;
}

.navbar-custom:hover {
background-color:#ffffff;
color:#00FF7F;
opacity:0.5;
}
.home{
background-image: url(background1.jpg);
background-repeat: no-repeat;
height:650px;
padding-right:2px;
}
#home1{
background-image: url(horticulture1.jpg);
width:100%;
height:650px;
}

.btn-xl{background-color:yello;}
#home2{
background-image: url(machine1.jpg);
padding-top:450px;
width:100%;
height:650px;
}
#home3{
background-image: url(fish1.jpg);
background-repeat: no-repeat;
width:100%;
height:650px;
}
#home4{
background-image: url(irigation1.jpg);
width:100;
height:650px;
}
#home5{
background-image: url(agriculture1.jpg);
width:100;
height:650px;
}
#home6{
background-image: url(dairy1.jpg);
width:100;
height:650px;
}
#home7{
background-image: url(fertilizer1.jpg);
width:100%;
height:650px;
}
.moda{ opacity:0.8; border-radius:20px;}
#mod1{ 
display:none;
padding-top:20px;
padding-left:450px;

}
#menu{padding-top:45px;
}
